<%- include('./static/head') %>

<body>
  <%- include('./static/nav') %>
  <main id="about">
    <h1 class="heading-lg">About <span class="text-secondary">Me</span></h1>
    <h2 class="heading-sm">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam nisi
      eos reprehenderit id enim laboriosam, accusamus nihil, distinctio
      consequatur nesciunt error! Nihil velit quod accusantium qui magnam
      deserunt sapiente consequuntur.
    </h2>

    <div class="about-info">
      <!-- <img src="./img/portrait.jpg" alt="khalid" class="bio-image" /> -->
      <!-- <div class="bio"> 
            <h3 class="text-secondary">BIO</h3>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Accusantium, provident voluptates. Molestiae necessitatibus sit modi
              quia deleniti distinctio ea. Saepe corporis aliquam neque officiis
              voluptates voluptatem iure autem eos tempore?
            </p>
          </div> -->
      <div class="jop jop-1" data-aos="fade-left">
        <h3>Example1</h3>
        <!-- <h5>Languages and Technology</h5> -->
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam nisi
          eos reprehenderit id enim laboriosam, accusamus nihil, distinctio
          consequatur nesciunt error! Nihil velit quod accusantium qui magnam
          deserunt sapiente consequuntur.
        </p>
      </div>
      <div class="jop jop-2" data-aos="fade-right">
        <h3>Example2</h3>
        <!-- <h5>Technology and Environment</h5> -->
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam nisi
          eos reprehenderit id enim laboriosam, accusamus nihil, distinctio
          consequatur nesciunt error! Nihil velit quod accusantium qui magnam
          deserunt sapiente consequuntur.
        </p>
      </div>
      <div class="jop jop-3" data-aos="fade-left">
        <h3>Example3</h3>
        -->
        <!-- <h5>Lorem ipsum dolor sit.</h5> -->
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam nisi
          eos reprehenderit id enim laboriosam, accusamus nihil, distinctio
          consequatur nesciunt error! Nihil velit quod accusantium qui magnam
          deserunt sapiente consequuntur.
        </p>
      </div>
    </div>
  </main>
  <%- include('./static/end') %>
</body>
