<%- include('./static/head') %>
<body>
  <%- include('./static/nav') %>
  <main id="contact">
    <h1 class="heading-lg">Contact<span class="text-secondary"> Me</span></h1>
    <!-- <h2 class="heading-sm">rech </h2> -->
    <div class="boxes">
      <!-- email box -->
      <div id="email">
        <span class="text-secondary">Email: </span> khalid@example.com
      </div>
      <!-- Phone box -->
      <div id="phone-number">
        <span class="text-secondary">Phone: </span> +960000000000
      </div>
      <!-- Address box -->
      <!-- <div>
            <span class="text-secondary">Address: </span> Lorem ipsum dolor sit
            amet.
          </div> -->
    </div>
  </main>
  <%- include('./static/end') %>
</body>
