

  <footer id="main-footer">
    Copyright &copy; Khalid Ayed
  </footer>
    <!-- Make sure after update javascript file, copy new genrated file name and pasted down from dist -->
    <script src="js/<%=fileName%>"></script>
     
</body>   
</html>
          