

  <footer id="main-footer">
    Copyright &copy; Khalid Ayed
  </footer>
  <script src="https://wzrd.in/standalone/copy-to-clipboard@latest" async></script>
    <script src="<%=fileName%>"></script>
</body>   
</html>
          