<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=
    , initial-scale=1.0"
    />
    <link rel="icon" href="/img/favicon.png" />
    <script src="https://kit.fontawesome.com/5acf9fbb31.js"></script>
    <link rel="stylesheet" href="css\main.css" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Khalid</title>
  </head>
</html>
